<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 文件不放在 source root 目录下：用全路径导入就行-->
    <!--引入context命名空间  xmlns需要用：xxx 起别名   引入约束信息：.xsd-->
    <!-- 配置要扫描的包，让上下文知晓哪个类用注解创建了对象@Component -->
    <context:component-scan base-package="com.qcj"/>

    <bean id="userService" class="com.qcj.service.UserService"/>
</beans>